.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 12px;
  right: -2px;
}
.green{
    color: green;
}
.red{
    color: red;
}